@media (max-width: 480px) {
  .header-slogan > h1 {
    font-size: 19px;
  }

  .header-slogan > h1,
  h3 {
    font-size: 29px;
  }

  .images-slider {
    display: none;
  }

  .title-todo-wrapper {
    width: 100%;
  }
  .gallery-img > img {
    width: 79%;
  }

  .contacts-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .work-line {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: column;
  }
  .work-phone {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 70%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 30px;
    border-bottom: 2px solid var(--grey-color);
    padding-bottom: 10px;
  }
  .work-shake {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 70%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 30px;
    border-bottom: 2px solid var(--grey-color);
    padding-bottom: 10px;
  }
  .title {
    font-size: 33px;
  }
  .work-paid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: 0px;
    width: 70%;
    border-bottom: 2px solid var(--grey-color);
    padding-bottom: 10px;
  }
  .header-slogan {
    margin-top: 190px;
    margin-bottom: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 20px;
  }
}
@media screen and (max-width: 377px) {
  .header-slogan > h1 {
    font-size: 22px;
  }
  .header-slogan > h3 {
    padding: 20px;
    font-size: 22px;
  }
  .call-button > a {
    padding: 16px 16px;
    margin-left: 12px;
  }
  .logo-text > span {
    font-size: 18px;
  }
  .logo-text .social {
    margin-left: 0px;
    margin-top: 10px;
  }
  .gallery-img {
    margin-left: 40px;
  }
  .header-slogan {
    margin-top: 210px;
    margin-bottom: 20px;
  }
  .title {
    font-size: 25px;
    margin-bottom: 10px;
  }
  .evakuator {
    max-width: 30%;
    padding-bottom: 5px;
  }
  .work-shake > i {
    font-size: 50px;
  }
  .work-paid > span {
    font-size: 20px;
  }
  .work-phone {
    font-size: 20px;
    margin-right: 0px;
  }
  .work-shake {
    margin-right: 0px;
  }
  .instagram-icon > h4 {
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
  }
}
@media screen and (max-width: 372px) {
  .logo-text > span {
    font-size: 19px;
  }
  .logo-text .social {
    margin-top: 10px;
    margin-left: 0px;
  }
  .phone-text > a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 19px;
  }
  .call-button > a {
    margin-left: 5px;
    padding: 16px 16px;
    font-size: 17px;
  }
  .header-slogan > h1,
  h3 {
    font-size: 21px;
    padding-left: 20px;
  }
  .navigation-item-wrapper {
    margin-right: 0px;
    margin-left: 20px;
  }
  .title {
    font-size: 25px;
    margin-bottom: 10px;
  }
  .evakuator {
    max-width: 30%;
    padding-bottom: 5px;
  }
  .work-shake > i {
    font-size: 50px;
  }
  .work-paid > span {
    font-size: 20px;
  }
  .work-phone {
    font-size: 20px;
    margin-right: 0px;
  }
  .work-shake {
    margin-right: 0px;
  }
  .instagram-icon > h4 {
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
  }
}
@media screen and (max-width: 320px) {
  .logo-text > span {
    font-size: 12px;
  }

  .navigation-item-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .phone-text {
    margin-right: 20px;
    margin-bottom: 20px;
  }
  .header-slogan {
    margin-top: 250px;
  }

  .header-slogan > h1,
  h3 {
    font-size: 29px;
    padding-left: 0px;
  }

  .our-clients-title > h3 {
    font-size: 28px;
    text-decoration: underline;
  }

  .gallery-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: 33px;
  }

  .footer-copy > span {
    font-size: 17px;
  }

  .title-todo-wrapper {
    margin-right: 0px;
  }
  .work-line {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: column;
  }
  .evakuator {
    max-width: 100%;
  }
  .work-shake {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 50%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .work-phone {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 50%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .work-paid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: 30px;
    width: 50%;
  }
  .logo-text .social {
    margin-left: 20px;
    margin-top: 10px;
  }
  .social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
  }

  .instagram-icon > h4 {
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
  }
}
