@media screen and (max-width: 1200px) {
  .logo-text {
    margin-left: 100px;
  }

  .navigation-item-wrapper {
    margin-right: 70px;
  }
  .header-slogan > h1,
  h3 {
    font-size: 1.5em;
  }
}

@media screen and (max-width: 1199px) {
  .navigation-item-wrapper {
    margin-right: 20px;
  }
  .logo-text {
    margin-left: 69px;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 1047px) {
  .navigation-item-wrapper {
    margin-right: 20px;
  }
}

/* Landscape tablets and medium desktops */
@media screen and (max-width: 992px) {
  .logo-text {
    margin-left: 20px;
  }

  .navigation-item-wrapper {
    margin-right: 20px;
  }

  .header-slogan > h1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 33px;
  }

  .gallery-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: 100px;
  }
  .work-line {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    padding: 10px;
  }
  .title {
    font-size: 30px;
  }

  .work-phone {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 31%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    justify-content: flex-start;
    align-content: center;
    flex-wrap: wrap;
    border-bottom: 2px solid var(--grey-color);
    padding-bottom: 32px;
    margin-right: 20px;
  }
  .work-shake {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 30%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: 2px solid var(--grey-color);
    padding-bottom: 10px;
    margin-right: 20px;
  }
  .work-shake > span {
    font-size: 20px;
  }
  .work-paid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: 30px;
    border-bottom: 2px solid var(--grey-color);
    padding-bottom: 10px;
  }
}
@media screen and (max-width: 942px) {
  .navigation-item-wrapper {
    margin-right: 10px;
  }
}

@media screen and (max-width: 932px) {
  .navigation {
    justify-content: center;
  }

  .header-slogan {
    margin-top: 200px;
  }
}
@media screen and (max-width: 768px) {
  .header-slogan > h1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 25px;
    padding: 20px;
  }
  .header-slogan {
    margin-top: 190px;
    margin-bottom: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .logo-text > span {
    font-size: 15px;
  }

  .phone-text > a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
  }

  .gallery-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: 70px;
  }

  .images-slider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 50%;
    margin-right: 50px;
  }
  .phone-text {
    margin-right: 22px;
  }
}

@media screen and (max-width: 723px) {
  .navigation {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}
